<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <script src="https://code.angularjs.org/1.4.4/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="homeCtrl as vm">
    <div class="container-fluid">
        <h1 class="well">Light Status :   {{vm.s}}</h1>
        <button type="button" class="btn btn-primary btn-lg" ng-click="vm.toggle()" ng-model="vm.s">{{vm.msg}}</button>
    </div>
    <script type="text/javascript" src="scripts/main.js"></script>
</body>

</html>
